@font-face {
    font-family: 'HakgyoansimByeolbichhaneulTTF-B';
    src: url('./AnyConv.com__Hakgyoansim Byeolbichhaneul OTF B.eot');
}
@font-face {
    font-family: 'HakgyoansimByeolbichhaneulTTF-L';
    src: url('./AnyConv.com__Hakgyoansim Byeolbichhaneul TTF L.eot');
}