.buttonContainer {
    position: fixed;
    bottom: 2vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    width: 100%;
    z-index : 1000;
}

.Button {
    width : 14em;
    height : 3em;
    color : black;
    background-color: #ffffffb8;
    border-radius : 3em;
    font-size : 1.15em;
    margin : 5vh auto;
    display : block;
    position : relative;
    z-index : 1000;
}