@import './Font.css';

.buttonContainer {
    position:relative;
    bottom: 2vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    z-index : 1000;
}

.Button {
    width : 14em;
    height : 3em;
    color : black;
    background-color: #ffffffb8;
    border-radius : 3em;
    font-size : 1.15em;
    margin : 5vh auto;
    display : block;
    position : relative;
    z-index : 1000;
    border : none;
    font-family: "더잠실1";
    transition: background-color 0.2s, transform 0.1s;
}


.Button:hover {
    background-color: #8f8e8eb8;
  }
  
  .Button:active {
    background-color: #616161b8; 
    transform: scale(0.95);
  }