@import url(./Font.css);

*{
    margin:0;
    padding:0;
}
.title{
    display: block;
    font-size:large;
    font-family: '더잠실2';
    margin-left: 7.5%;
    margin-top: 25%;
}
.reload{
    display: block;
    background-color: #ffffff33;
    border:none;
    color:white;
    width: 10em;
    height: 2.6em;
    border-radius: 0.8em;
    text-align: center;
    margin: 0 auto;
    margin-top: 2.4em;
    transition: background-color 0.2s, transform 0.1s;
}

.reload:hover{
    background-color: #cfcece4d;
}

.reload:active{
    background-color: #b1b1b133; 
    transform: scale(0.98);
}
