@import './Font.css';

.inputContainer {
    display : flex;
    flex-direction : column;
    gap : 4%;
    box-sizing : border-box;
    width : 76%;
    height : 63%;
    margin : 4% auto;
    background-color : #FFFFFF4D;
    border-radius : 1em;
    padding : 6% 6% 3% 6%;
}

.inputContainer > input {
    outline : none;
}

.inputContainer > textarea {
    outline : none;
}

.inputTitle {
    border : none;
    background-color: transparent;
    font-size : 1.4em;
    color: #ffffff99;
    font-family: "더잠실4";
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.inputContent {
    width : 100%;
    height : 80%;
    border : none;
    background-color: transparent;
    font-size : 0.95em;
    color: rgba(255, 255, 255, 0.60);
    font-family: "더잠실3";
    line-height: 140%;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.funcInput {
    width : 100%;
    height : fit-content;
    display : flex;
}

.funcInput > img {
    width : 6vw;
    height : 5vh;
    margin-left : auto;
}

.ai_recommend {
    display : flex;
    align-items : center;
    gap : 2vw;
}

.ai_recommend > img {
    width : 5vw;
    height : 3.5vh;
    display : inline;
}

.ai_recommend > span {
    color : #FFFFFF99;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size : 0.9em;
    font-family: "더잠실2";
}

.input_date {
    color : #BBBBBB;
    margin-left : auto;
    margin-bottom : -5%;
}