@import url(./Font.css);

.Maintitle{
    width:fit-content;
    height: fit-content;
    text-align: center;
    margin : 0 auto;
    margin-top : 18%;
    color:white;
    font-size: 3.2rem;
    font-weight:300;
    letter-spacing: 0.1rem;
    font-family: '별빛하늘L';
}

.subtitle{
    display: block;
    text-align: center;
    margin: 10% 0;
    color: white;
    font-family: '더잠실1';
    font-size: large;
    opacity: 65%;
}

.startBtn{
    display: block;
    width: 18em;
    height: 4em;
    margin: 4em auto;
    border-radius: 2em;
    opacity: 65%;
    border:none;
}
.startBtn span{
    font-family: '더잠실1';
    font-size: x-large;
}