@import url(./Font.css);

.Maintitle{
    width:fit-content;
    height: fit-content;
    text-align: center;
    margin:25% auto 0 auto;
    color:white;
    font-size: 3.2rem;
    font-weight:300;
    letter-spacing: 0.1rem;
    font-family: '별빛하늘L';
}
@media screen and (min-height:820px){
    .Maintitle{
        margin: 32% auto 0 auto;
    }
}

.subtitle{
    display: block;
    text-align: center;
    margin: 2em 0;
    color: white;
    font-family: '더잠실1';
    font-size: large;
    opacity: 65%;
}

.startBtn{
    display: block;
    width: 14em;
    height: 3em;
    margin: 2em auto;
    border-radius: 2em;
    opacity: 65%;
    border:none;
    font-size : 0.8em;
}
.startBtn span{
    font-family: '더잠실1';
    font-size: 1.5em;
    color:#2f6e85;
}