.bg-container{
    position:absolute;
    height:100vh;
    width: 100vw;
    max-width: 430px;
    max-height: 932px;
    overflow: hidden;
    background-color: #05091099;
    backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
	transform: translate3d(0, 0, 0);
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    z-index: 99999999;
}

.emojis{
    margin-top : -4vh;
    justify-content: center;
    gap: 2.7em;
    display: flex;
}

.emojis > img{
    display: block;
}