@import url(./Font.css);

.readContainer {
    display : flex;
    flex-direction : column;
    gap : 4%;
    box-sizing : border-box;
    width : 20em;
    height : 66vh;
    margin : 14% auto;
    background-color : #FFFFFF4D;
    border-radius : 1em;
    padding : 6% 6% 2%;
}

.readTitle {
    border : none;
    background-color: transparent;
    font-size : 1.4em;
    color: #dadada;
    font-weight: 700;
    font-family: '더잠실5';
}

.readContent {
    width : 100%;
    height : 100%;
    border : none;
    background-color: transparent;
    font-size : 0.9em;
    color: #dadada;
    font-family: '더잠실3';
    line-height: 140%;
    font-style: normal;
    font-weight: 400;
    white-space: pre-wrap;
}

.readFooter{
    display: flex;
    justify-content: space-between;
}

.readFooter > div > img{
    margin-right: 0.8em;
}

.readFooter > h4{
    font-family: '더잠실4';
    position:relative;
    top:0.5em;
    color: #dadada;
    font-size: 0.85em;
}

