@import url(./Font.css);

.readContainer {
    display : flex;
    flex-direction : column;
    gap : 4%;
    box-sizing : border-box;
    width : 70%;
    height : 60%;
    margin : 14% auto;
    margin-top : 2%;
    background-color : #FFFFFF4D;
    border-radius : 1rem;
    padding : 6% 6% 2%;
}

.read_location {
    display : flex;
    gap : 2%;
    margin-left : 15%;
    margin-top : 14%;
}

.read_location > h3 {
    color : white;
    font-family: '더잠실2';
}
.readTitle {
    border : none;
    background-color: transparent;
    font-size : 1.4em;
    color: #dadada;
    font-weight: 700;
    font-family: '더잠실5';
}

.readContent {
    width : 100%;
    height : 78%;
    border : none;
    background-color: transparent;
    font-size : 0.9rem;
    color: #dadada;
    font-family: '더잠실3';
    line-height: 160%;
    font-style: normal;
    font-weight: 400;
    white-space: pre-wrap;
    overflow-y : scroll;
}

.readFooter{
    display: flex;
    justify-content: space-between;
}

.readFooter > div > img{
    margin-right: 0.8rem;
}

.readFooter > h4{
    font-family: '더잠실4';
    position:relative;
    top:0.5em;
    color: #dadada;
    font-size: 0.85rem;
}

